.hero, .footer{
    background-color: #1F2937;
}

.button, .call {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.bold {
    font-weight: bolder;
}

.hero-text-color {
    color: #f9faf8;
    font-size: 48px;
}

.hero-second {
    color: #E5E7EB;
    font-size: 18px;
}

.header-size {
    font-size: 36px;
}

.header-info {
    color: #1F2937;
}

.italic {
    font-style: italic;
}